.task {
  margin-bottom: 16px;
  display: flex;
  flex-direction: row;
}

.inputs_contaier {
  display: flex;
  flex-direction: column;
  width: 68%;
  margin-right: 6px;
}

.line {
  width: 3px;
  height: 47px;
  margin-top: 3px;
  margin-right: 5px;
}


.delete,
.plus { 
  transition: 0.3s;
  background: grey;
  color: white;
  border-radius: 1rem;
  opacity: 0.1;
  border: none;

  &:hover {
    opacity: 1;
  }
}