:root {
  --background-color: #{$background-color};
}

* {
  margin: 0;
  padding: 0;
  font-family: 'RocheSans', 'Montserrat', sans-serif;
  font-style: normal;
  font-stretch: condensed;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}


html,
body {
  position: relative;
  height: 100%;
  min-height: 100%;
}

